.imagens {
  margin-top: 40px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.galeria img {
  width: 30%;
  border: 2px solid white;
  border-radius: 8px;
}
